In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('marketing_customer_analysis.csv')
data

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,...,NaN,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NaN
10908,10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A
10909,10909,IV32877,NaN,6857.519928,NaN,Basic,Bachelor,1/8/11,Unemployed,M,...,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NaN

In [3]:
data.shape

(10910, 26)

In [4]:
columns_names = data.columns
columns_names

Index(['Unnamed: 0', 'Customer', 'State', 'Customer Lifetime Value',
       'Response', 'Coverage', 'Education', 'Effective To Date',
       'EmploymentStatus', 'Gender', 'Income', 'Location Code',
       'Marital Status', 'Monthly Premium Auto', 'Months Since Last Claim',
       'Months Since Policy Inception', 'Number of Open Complaints',
       'Number of Policies', 'Policy Type', 'Policy', 'Renew Offer Type',
       'Sales Channel', 'Total Claim Amount', 'Vehicle Class', 'Vehicle Size',
       'Vehicle Type'],
      dtype='object')

In [38]:
#cols = []
# for column is data.columns:
#     cols.append(column.lower())
# data.columns = cols
# data

In [6]:
data.select_dtypes(object)

,Customer,State,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Location Code,Marital Status,Policy Type,Policy,Renew Offer Type,Sales Channel,Vehicle Class,Vehicle Size,Vehicle Type
0,DK49336,Arizona,No,Basic,College,2/18/11,Employed,M,Suburban,Married,Corporate Auto,Corporate L3,Offer3,Agent,Four-Door Car,Medsize,NaN
1,KX64629,California,No,Basic,College,1/18/11,Unemployed,F,Suburban,Single,Personal Auto,Personal L3,Offer4,Call Center,Four-Door Car,Medsize,NaN
2,LZ68649,Washington,No,Basic,Bachelor,2/10/11,Employed,M,Suburban,Single,Personal Auto,Personal L3,Offer3,Call Center,SUV,Medsize,A
3,XL78013,Oregon,Yes,Extended,College,1/11/11,Employed,M,Suburban,Single,Corporate Auto,Corporate L3,Offer2,Branch,Four-Door Car,Medsize,A
4,QA50777,Oregon,No,Premium,Bachelor,1/17/11,Medical Leave,F,Suburban,Married,Personal Auto,Personal L2,Offer1,Branch,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,FE99816,Nevada,No,Premium,Bachelor,1/19/11,Unemployed,F,Suburban,Married,Personal Auto,Personal L1,Offer3,Web,Luxury Car,Medsize,A
10906,KX53892,Oregon,No,Basic,College,1/6/11,Employed,F,Urban,Married,Personal Auto,Personal L3,Offer2,Branch,Four-Door Car,Medsize,A
10907,TL39050,Arizona,No,Extended,Bachelor,2/6/11,Employed,F,Rural,Married,Corporate Auto,Corporate L3,Offer1,Web,Luxury SUV,Medsize,NaN
10908,WA60547,California,No,Premium,College,2/13/11,Employed,F,Urban,Divorced,Personal Auto,Personal L1,Offer1,Branch,SUV,Medsize,A
10909,IV32877,NaN,NaN,Basic,Bachelor,1/8/11,Unemployed,M,Suburban,Single,Personal Auto,Personal L1,Offer4,Web,SUV,Medsize,NaN

In [8]:
numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
data.select_dtypes(include=numerics)

,Unnamed: 0,Customer Lifetime Value,Income,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Total Claim Amount
0,0,4809.216960,48029,61,7.0,52,0.0,9,292.800000
1,1,2228.525238,0,64,3.0,26,0.0,1,744.924331
2,2,14947.917300,22139,100,34.0,31,0.0,2,480.000000
3,3,22332.439460,49078,97,10.0,3,0.0,2,484.013411
4,4,9025.067525,23675,117,NaN,31,NaN,7,707.925645
...,...,...,...,...,...,...,...,...,...
10905,10905,15563.369440,0,253,NaN,40,NaN,7,1214.400000
10906,10906,5259.444853,61146,65,7.0,68,0.0,6,273.018929
10907,10907,23893.304100,39837,201,11.0,63,0.0,2,381.306996
10908,10908,11971.977650,64195,158,0.0,27,4.0,6,618.288849
10909,10909,6857.519928,0,101,31.0,1,0.0,3,1021.719397

In [10]:
data._get_numeric_data()

,Unnamed: 0,Customer Lifetime Value,Income,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Total Claim Amount
0,0,4809.216960,48029,61,7.0,52,0.0,9,292.800000
1,1,2228.525238,0,64,3.0,26,0.0,1,744.924331
2,2,14947.917300,22139,100,34.0,31,0.0,2,480.000000
3,3,22332.439460,49078,97,10.0,3,0.0,2,484.013411
4,4,9025.067525,23675,117,NaN,31,NaN,7,707.925645
...,...,...,...,...,...,...,...,...,...
10905,10905,15563.369440,0,253,NaN,40,NaN,7,1214.400000
10906,10906,5259.444853,61146,65,7.0,68,0.0,6,273.018929
10907,10907,23893.304100,39837,201,11.0,63,0.0,2,381.306996
10908,10908,11971.977650,64195,158,0.0,27,4.0,6,618.288849
10909,10909,6857.519928,0,101,31.0,1,0.0,3,1021.719397

In [11]:
data.isna().sum()

Unnamed: 0                          0
Customer                            0
State                             631
Customer Lifetime Value             0
Response                          631
Coverage                            0
Education                           0
Effective To Date                   0
EmploymentStatus                    0
Gender                              0
Income                              0
Location Code                       0
Marital Status                      0
Monthly Premium Auto                0
Months Since Last Claim           633
Months Since Policy Inception       0
Number of Open Complaints         633
Number of Policies                  0
Policy Type                         0
Policy                              0
Renew Offer Type                    0
Sales Channel                       0
Total Claim Amount                  0
Vehicle Class                     622
Vehicle Size                      622
Vehicle Type                     5482
dtype: int64

In [12]:
import numpy as np

In [18]:
data['State'].value_counts(dropna=False)

California    3552
Oregon        2909
Arizona       1937
Nevada         993
Washington     888
NaN            631
Name: State, dtype: int64

In [32]:
data['Effective To Date'] = pd.to_datetime(data['Effective To Date'])

In [33]:
data

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,2011-01-19,Unemployed,F,...,NaN,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,2011-01-06,Employed,F,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2011-02-06,Employed,F,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NaN
10908,10908,WA60547,California,11971.977650,No,Premium,College,2011-02-13,Employed,F,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A
10909,10909,IV32877,NaN,6857.519928,NaN,Basic,Bachelor,2011-01-08,Unemployed,M,...,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NaN

In [36]:
data['Month'] = data ['Effective To Date'].dt.month_name()

In [37]:
data

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type,month,Month
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,...,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN,February,February
1,1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,...,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN,January,January
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,...,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,February,February
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,...,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,January,January
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,...,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN,January,January
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,2011-01-19,Unemployed,F,...,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A,January,January
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,2011-01-06,Employed,F,...,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A,January,January
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2011-02-06,Employed,F,...,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NaN,February,February
10908,10908,WA60547,California,11971.977650,No,Premium,College,2011-02-13,Employed,F,...,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A,February,February
10909,10909,IV32877,NaN,6857.519928,NaN,Basic,Bachelor,2011-01-08,Unemployed,M,...,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NaN,January,January

In [25]:
data ['Vehicle Type'].value_counts(dropna=False)

NaN    5482
A      5428
Name: Vehicle Type, dtype: int64

In [26]:
data ['Vehicle Size'].value_counts(dropna=False)

Medsize    7251
Small      1966
Large      1071
NaN         622
Name: Vehicle Size, dtype: int64

In [27]:
data ['Vehicle Class'].value_counts(dropna=False)

Four-Door Car    5212
Two-Door Car     2118
SUV              2012
NaN               622
Sports Car        550
Luxury SUV        208
Luxury Car        188
Name: Vehicle Class, dtype: int64

In [28]:
data ['Policy Type'].value_counts(dropna=False)

Personal Auto     8128
Corporate Auto    2341
Special Auto       441
Name: Policy Type, dtype: int64

In [41]:
data[data['Vehicle Type'].isna()==True].head(60)

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type,month,Month
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,...,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN,February,February
1,1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,...,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN,January,January
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,...,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN,January,January
6,6,IW72280,California,5035.035257,No,Basic,Doctor,2011-02-14,Employed,F,...,Corporate Auto,Corporate L2,Offer2,Branch,287.556107,Four-Door Car,Medsize,NaN,February,February
7,7,IH64929,California,4956.247235,No,Basic,High School or Below,2011-02-24,Employed,M,...,Personal Auto,Personal L2,Offer2,Branch,247.402353,Two-Door Car,Medsize,NaN,February,February
8,8,FM55990,California,5989.773931,Yes,Premium,College,2011-01-19,Employed,M,...,Personal Auto,Personal L1,Offer2,Branch,739.200000,Sports Car,Medsize,NaN,January,January
9,9,QX31376,Oregon,17114.328150,No,Extended,Master,2011-01-04,Employed,F,...,Corporate Auto,Corporate L3,Offer2,Agent,408.000000,Four-Door Car,Small,NaN,January,January
11,11,GE63585,NaN,2420.711888,NaN,Basic,Bachelor,2011-02-07,Employed,M,...,Corporate Auto,Corporate L3,Offer1,Call Center,199.551735,Two-Door Car,Medsize,NaN,February,February
12,12,EO51920,Oregon,19955.257130,No,Extended,High School or Below,2011-01-31,Employed,F,...,Corporate Auto,Corporate L3,Offer1,Agent,64.669515,Four-Door Car,Medsize,NaN,January,January
14,14,TL59568,Arizona,12836.009510,No,Premium,High School or Below,2011-02-28,Unemployed,M,...,Personal Auto,Personal L2,Offer3,Agent,835.200000,Two-Door Car,Medsize,NaN,February,February
15,15,CW49887,California,4626.801093,Yes,Basic,Master,2011-01-16,Employed,F,...,Special Auto,Special L1,Offer2,Branch,547.200000,SUV,Medsize,NaN,January,January
21,21,RL65736,Oregon,6274.447705,No,Extended,High School or Below,2011-02-14,Medical Leave,F,...,Personal Auto,Personal L1,Offer1,Agent,408.000000,Four-Door Car,Small,NaN,February,February
23,23,NQ71171,California,5107.071054,No,Basic,Bachelor,2011-02-02,Employed,M,...,Personal Auto,Personal L2,Offer1,Agent,128.900320,Four-Door Car,Medsize,NaN,February,February
27,27,MQ68407,Oregon,4376.363592,Yes,Premium,Bachelor,2011-02-28,Employed,F,...,Personal Auto,Personal L3,Offer2,Agent,60.036683,Four-Door Car,Medsize,NaN,February,February
29,29,BD70337,California,24706.920110,No,Basic,High School or Below,2011-01-07,Medical Leave,M,...,Personal Auto,Personal L2,Offer4,Call Center,313.192439,Four-Door Car,Medsize,NaN,January,January
31,31,DP19210,California,9191.733549,No,Basic,Master,2011-02-08,Employed,F,...,Corporate Auto,Corporate L2,Offer2,Branch,567.480550,Sports Car,Medsize,NaN,February,February
33,33,OH23893,California,9115.571690,No,Basic,Bachelor,2011-02-15,Employed,F,...,Personal Auto,Personal L1,Offer1,Branch,173.080024,SUV,Medsize,NaN,February,February
34,34,RI76930,California,4163.040810,No,Basic,College,2011-02-12,Employed,F,...,Personal Auto,Personal L3,Offer2,Call Center,499.200000,SUV,Large,NaN,February,February
35,35,YK26558,California,5264.642009,No,Basic,College,2011-02-20,Unemployed,F,...,Special Auto,Special L3,Offer1,Branch,135.888306,Four-Door Car,Medsize,NaN,February,February
36,36,OE15005,California,3945.241604,No,Basic,College,2011-01-05,Medical Leave,M,...,Personal Auto,Personal L2,Offer3,Call Center,647.442031,SUV,Medsize,NaN,January,January
37,37,RA17555,Oregon,5176.730072,No,Basic,High School or Below,2011-02-07,Employed,M,...,Corporate Auto,Corporate L2,Offer3,Agent,232.879766,Four-Door Car,Medsize,NaN,February,February
38,38,ZI34278,Arizona,4492.233480,No,Basic,Bachelor,2011-01-28,Medical Leave,F,...,Personal Auto,Personal L1,Offer2,Web,292.800000,Four-Door Car,Medsize,NaN,January,January
41,41,BE25221,Arizona,6182.618843,No,Extended,High School or Below,2011-02-07,Medical Leave,M,...,Corporate Auto,Corporate L3,Offer1,Agent,473.266879,Four-Door Car,Medsize,NaN,February,February
44,44,ER49844,Arizona,5041.447024,No,Basic,College,2011-01-19,Employed,M,...,Personal Auto,Personal L1,Offer4,Call Center,138.961963,Four-Door Car,Medsize,NaN,January,January
46,46,SY48591,Arizona,4827.776810,No,Basic,College,2011-01-17,Unemployed,F,...,Personal Auto,Personal L3,Offer1,Branch,326.400000,Four-Door Car,Medsize,NaN,January,January
47,47,PR23514,California,7664.219255,No,Basic,College,2011-01-23,Employed,M,...,Personal Auto,Personal L3,Offer2,Web,161.615740,Luxury SUV,Medsize,NaN,January,January
52,52,TX39594,Arizona,2452.491364,No,Basic,High School or Below,2011-01-25,Employed,F,...,Personal Auto,Personal L3,Offer3,Call Center,406.902001,Two-Door Car,Small,NaN,January,January
53,53,GR42174,Oregon,2194.668123,No,Basic,College,2011-01-02,Unemployed,M,...,Personal Auto,Personal L3,Offer4,Call Center,623.525433,Four-Door Car,Medsize,NaN,January,January
54,54,XI79589,California,4473.883999,No,Extended,High School or Below,2011-02-16,Unemployed,F,...,Personal Auto,Personal L1,Offer1,Branch,600.000000,SUV,Medsize,NaN,February,February
56,56,TW17878,Oregon,2457.576007,No,Basic,High School or Below,2011-01-27,Employed,F,...,Personal Auto,Personal L3,Offer1,Call Center,292.800000,Four-Door Car,Medsize,NaN,January,January
58,58,BR69566,NaN,14019.833140,NaN,Basic,College,2011-02-18,Employed,M,...,Personal Auto,Personal L3,Offer4,Call Center,469.882367,Two-Door Car,Small,NaN,February,February
59,59,EP83939,Arizona,5575.751228,No,Basic,High School or Below,2011-01-26,Employed,M,...,Personal Auto,Personal L3,Offer2,Call Center,109.904496,Four-Door Car,Medsize,NaN,January,January
62,62,UF44021,NaN,2108.493744,NaN,Basic,Bachelor,2011-01-02,Unemployed,M,...,Personal Auto,Personal L2,Offer1,Agent,351.856810,Two-Door Car,Medsize,NaN,January,January
63,63,AV25133,Oregon,3095.705571,No,Extended,College,2011-01-12,Unemployed,F,...,Personal Auto,Personal L3,Offer3,Web,774.892461,Two-Door Car,Small,NaN,January,January
65,65,LO57874,Oregon,2300.691547,Yes,Basic,Bachelor,2011-01-15,Retired,M,...,Corporate Auto,Corporate L3,Offer1,Agent,302.400000,Four-Door Car,Large,NaN,January,January
70,70,PH78214,Oregon,5427.174517,No,Basic,College,2011-02-11,Medical Leave,F,...,Personal Auto,Personal L3,Offer2,Agent,345.600000,Four-Door Car,Medsize,NaN,February,February
72,72,FH81409,California,8152.244431,No,Extended,High School or Below,2011-01-21,Unemployed,M,...,Personal Auto,Personal L1,Offer1,Agent,568.800000,Four-Door Car,Small,NaN,January,January
73,73,RW65977,Arizona,2191.133237,No,Basic,College,2011-01-29,Unemployed,M,...,Special Auto,Special L2,Offer1,Agent,439.200000,Four-Door Car,Medsize,NaN,January,January
74,74,LD75023,Oregon,26346.085820,No,Extended,High School or Below,2011-01-20,Employed,M,...,Personal Auto,Personal L2,Offer1,Web,1605.600000,Luxury SUV,Medsize,NaN,January,January
75,75,OZ92426,Oregon,2364.431610,No,Basic,College,2011-01-18,Employed,M,...,Corporate Auto,Corporate L1,Offer4,Branch,199.373610,Four-Door Car,Medsize,NaN,January,January
76,76,FI17798,California,2710.120660,No,Basic,Doctor,2011-01-11,Unemployed,M,...,Personal Auto,Personal L3,Offer1,Agent,340.800000,Four-Door Car,Small,NaN,January,January
77,77,YC54142,Washington,74228.516040,No,Extended,High School or Below,2011-01-26,Unemployed,M,...,Personal Auto,Personal L1,Offer1,Branch,1742.400000,Luxury Car,Medsize,NaN,January,January
79,79,SX63814,Arizona,9312.585034,No,Premium,High School or Below,2011-02-13,Employed,M,...,Personal Auto,Personal L3,Offer3,Call Center,89.119797,Four-Door Car,Medsize,NaN,February,February
81,81,RO18530,Washington,2540.689797,No,Basic,Master,2011-02-28,Employed,M,...,Personal Auto,Personal L3,Offer4,Agent,57.562324,Four-Door Car,Large,NaN,February,February
83,83,DY27653,Oregon,3755.806897,No,Extended,High School or Below,2011-01-04,Employed,F,...,Personal Auto,Personal L3,Offer2,Branch,451.200000,Four-Door Car,Medsize,NaN,January,January
84,84,OH69760,Arizona,5181.054467,No,Basic,College,2011-02-02,Unemployed,F,...,Personal Auto,Personal L1,Offer1,Branch,336.000000,Four-Door Car,Large,NaN,February,February
87,87,ZH92587,Oregon,8126.766397,No,Basic,College,2011-02-22,Disabled,F,...,Personal Auto,Personal L3,Offer1,Agent,513.600000,NaN,NaN,NaN,February,February
88,88,CJ51511,Arizona,13466.920710,Yes,Basic,High School or Below,2011-02-23,Disabled,F,...,Corporate Auto,Corporate L3,Offer2,Agent,571.200000,NaN,NaN,NaN,February,February
91,91,KD63933,California,7048.384055,No,Basic,College,2011-02-19,Medical Leave,M,...,Personal Auto,Personal L1,Offer1,Agent,970.688934,Luxury SUV,Medsize,NaN,February,February
92,92,CM66204,Arizona,26770.445340,No,Basic,College,2011-01-23,Employed,F,...,Personal Auto,Personal L2,Offer1,Call Center,355.818306,SUV,Large,NaN,January,January
93,93,NV13794,Nevada,9549.113813,No,Basic,High School or Below,2011-02-09,Employed,F,...,Personal Auto,Personal L1,Offer1,Agent,388.506303,SUV,Small,NaN,February,February
94,94,HF75891,Washington,4331.460674,No,Basic,High School or Below,2011-02-11,Employed,F,...,Personal Auto,Personal L2,Offer1,Branch,722.178166,SUV,Medsize,NaN,February,February
96,96,AV96010,Oregon,3289.120863,No,Extended,College,2011-01-29,Employed,M,...,Personal Auto,Personal L2,Offer1,Call Center,227.221652,Two-Door Car,Medsize,NaN,January,January
99,99,JY66887,California,16320.767160,No,Extended,High School or Below,2011-02-27,Unemployed,F,...,Personal Auto,Personal L2,Offer2,Branch,1778.400000,Luxury Car,Medsize,NaN,February,February
100,100,NH16984,California,2838.067784,No,Extended,Bachelor,2011-02-07,Unemployed,F,...,Personal Auto,Personal L1,Offer1,Web,336.509610,Four-Door Car,Medsize,NaN,February,February
104,104,SZ60450,California,3419.108695,No,Extended,High School or Below,2011-02-13,Employed,M,...,Personal Auto,Personal L3,Offer3,Agent,23.387192,Two-Door Car,Medsize,NaN,February,February
107,107,No31089,Arizona,3179.474225,No,Extended,Bachelor,2011-01-21,Employed,F,...,Personal Auto,Personal L3,Offer2,Call Center,277.360797,Four-Door Car,Medsize,NaN,January,January
109,109,TK65222,California,16407.664610,No,Premium,Bachelor,2011-01-12,Employed,M,...,Personal Auto,Personal L2,Offer1,Agent,160.338007,Four-Door Car,Large,NaN,January,January
111,111,DO60145,Arizona,4270.034394,Yes,Extended,College,2011-01-19,Unemployed,M,...,Personal Auto,Personal L3,Offer2,Agent,725.870693,SUV,Medsize,NaN,January,January
112,112,BA40043,California,5799.826802,No,Basic,College,2011-01-03,Employed,M,...,Corporate Auto,Corporate L2,Offer2,Branch,5.746657,Four-Door Car,Medsize,NaN,January,January

In [44]:
data['Vehicle Type'] = data['Vehicle Type'].fillna("M") #I made an assumption that this is be M for manual versus A for Automatic

In [46]:
data ['Vehicle Type'].value_counts(dropna=False)

M    5482
A    5428
Name: Vehicle Type, dtype: int64

In [49]:
data ['Vehicle Size'].value_counts(dropna=False)

Medsize    7251
Small      1966
Large      1071
NaN         622
Name: Vehicle Size, dtype: int64

In [51]:
data[data['Vehicle Size'].isna()==True].head(60)

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type,month,Month
87,87,ZH92587,Oregon,8126.766397,No,Basic,College,2011-02-22,Disabled,F,...,Personal Auto,Personal L3,Offer1,Agent,513.600000,NaN,NaN,M,February,February
88,88,CJ51511,Arizona,13466.920710,Yes,Basic,High School or Below,2011-02-23,Disabled,F,...,Corporate Auto,Corporate L3,Offer2,Agent,571.200000,NaN,NaN,M,February,February
89,89,ME37450,Arizona,5210.348372,No,Basic,Bachelor,2011-01-04,Employed,M,...,Special Auto,Special L2,Offer1,Agent,37.960537,NaN,NaN,A,January,January
97,97,CA22248,Oregon,2505.420430,No,Basic,Master,2011-02-14,Employed,F,...,Personal Auto,Personal L3,Offer2,Branch,46.278027,NaN,NaN,A,February,February
148,148,HB24005,California,2347.048112,No,Basic,College,2011-02-02,Employed,M,...,Personal Auto,Personal L1,Offer1,Agent,244.269407,NaN,NaN,A,February,February
163,163,TP34946,California,5108.038755,No,Basic,College,2011-01-09,Disabled,M,...,Corporate Auto,Corporate L3,Offer3,Branch,482.400000,NaN,NaN,M,January,January
186,186,BG42047,Nevada,2511.944048,No,Basic,College,2011-01-15,Medical Leave,M,...,Personal Auto,Personal L3,Offer3,Web,312.000000,NaN,NaN,A,January,January
205,205,YZ19736,Arizona,2580.849899,Yes,Basic,College,2011-02-09,Employed,M,...,Personal Auto,Personal L2,Offer2,Web,316.800000,NaN,NaN,A,February,February
224,224,KL65897,California,6331.338496,No,Extended,Bachelor,2011-02-21,Unemployed,F,...,Personal Auto,Personal L2,Offer1,Branch,94.714302,NaN,NaN,A,February,February
261,261,HZ56678,Oregon,2780.196856,No,Basic,High School or Below,2011-01-12,Disabled,F,...,Personal Auto,Personal L2,Offer4,Web,345.600000,NaN,NaN,A,January,January
294,294,AM57175,Oregon,15000.842380,No,Extended,High School or Below,2011-01-06,Employed,F,...,Personal Auto,Personal L3,Offer1,Branch,507.560729,NaN,NaN,M,January,January
301,301,JP35025,California,5714.165863,No,Basic,Master,2011-02-23,Disabled,F,...,Corporate Auto,Corporate L1,Offer1,Call Center,355.200000,NaN,NaN,A,February,February
346,346,YC69616,Arizona,2719.506996,Yes,Basic,College,2011-01-24,Retired,F,...,Personal Auto,Personal L3,Offer2,Branch,345.600000,NaN,NaN,A,January,January
367,367,VY90611,California,2499.036551,No,Basic,Master,2011-01-27,Employed,F,...,Corporate Auto,Corporate L3,Offer2,Agent,364.622773,NaN,NaN,A,January,January
397,397,XV69290,California,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,...,Corporate Auto,Corporate L2,Offer2,Branch,484.013411,NaN,NaN,M,January,January
416,416,EO40136,Arizona,2912.248444,No,Basic,College,2011-01-24,Employed,F,...,Personal Auto,Personal L2,Offer2,Web,295.224598,NaN,NaN,M,January,January
426,426,GE82737,Nevada,5337.352409,No,Extended,Bachelor,2011-02-14,Unemployed,F,...,Personal Auto,Personal L3,Offer1,Agent,619.200000,NaN,NaN,A,February,February
448,448,GT66241,California,2414.072446,No,Basic,High School or Below,2011-01-08,Unemployed,M,...,Personal Auto,Personal L3,Offer2,Call Center,511.200000,NaN,NaN,M,January,January
457,457,BZ85280,Oregon,7284.262288,No,Basic,College,2011-02-23,Medical Leave,M,...,Personal Auto,Personal L1,Offer3,Agent,296.962938,NaN,NaN,M,February,February
480,480,EC71986,Washington,2429.280527,No,Basic,High School or Below,2011-01-18,Medical Leave,F,...,Personal Auto,Personal L1,Offer1,Agent,367.927730,NaN,NaN,M,January,January
489,489,GU42671,Arizona,6106.941981,No,Extended,Bachelor,2011-02-21,Medical Leave,F,...,Personal Auto,Personal L3,Offer1,Branch,379.200000,NaN,NaN,A,February,February
491,491,IE97795,NaN,6878.008403,NaN,Extended,High School or Below,2011-02-05,Employed,M,...,Corporate Auto,Corporate L1,Offer3,Agent,485.013840,NaN,NaN,A,February,February
494,494,AY55759,California,20096.893370,Yes,Basic,High School or Below,2011-01-01,Employed,F,...,Personal Auto,Personal L2,Offer2,Agent,379.029102,NaN,NaN,M,January,January
547,547,FL85008,Oregon,13466.920710,Yes,Basic,High School or Below,2011-02-23,Disabled,F,...,Personal Auto,Personal L2,Offer2,Agent,571.200000,NaN,NaN,M,February,February
554,554,AU23837,Oregon,5010.379310,No,Basic,Bachelor,2011-01-19,Employed,F,...,Corporate Auto,Corporate L3,Offer1,Agent,295.871784,NaN,NaN,A,January,January
577,577,GQ46925,Arizona,5821.684337,No,Premium,High School or Below,2011-02-15,Employed,M,...,Personal Auto,Personal L1,Offer4,Call Center,545.999699,NaN,NaN,M,February,February
586,586,GZ79662,Arizona,5484.588155,No,Basic,High School or Below,2011-02-21,Employed,M,...,Corporate Auto,Corporate L3,Offer2,Call Center,593.654484,NaN,NaN,M,February,February
601,601,OA92714,California,5055.902381,No,Basic,Bachelor,2011-01-10,Employed,F,...,Personal Auto,Personal L3,Offer3,Call Center,232.745161,NaN,NaN,A,January,January
634,634,DH34004,California,6191.402312,No,Basic,College,2011-02-06,Unemployed,M,...,Personal Auto,Personal L3,Offer2,Web,955.200000,NaN,NaN,A,February,February
636,636,HM94328,Arizona,6047.025160,Yes,Extended,College,2011-02-19,Employed,M,...,Corporate Auto,Corporate L2,Offer1,Branch,364.800000,NaN,NaN,A,February,February
644,644,SK12432,Arizona,2388.353882,No,Basic,Bachelor,2011-02-14,Unemployed,M,...,Personal Auto,Personal L1,Offer2,Web,677.970934,NaN,NaN,A,February,February
650,650,JP58047,Oregon,8332.730557,No,Extended,College,2011-01-27,Unemployed,M,...,Personal Auto,Personal L3,Offer2,Web,379.200000,NaN,NaN,A,January,January
668,668,KH58171,California,2551.226692,Yes,Basic,Master,2011-01-19,Employed,M,...,Personal Auto,Personal L3,Offer3,Web,392.235698,NaN,NaN,M,January,January
672,672,GJ47397,Oregon,38055.209530,No,Basic,High School or Below,2011-02-12,Unemployed,M,...,Special Auto,Special L2,Offer2,Agent,552.000000,NaN,NaN,A,February,February
679,679,EZ41764,California,2498.963061,No,Basic,Bachelor,2011-02-26,Employed,M,...,Personal Auto,Personal L2,Offer3,Agent,297.600000,NaN,NaN,M,February,February
683,683,KC36987,Oregon,13334.267630,No,Premium,Bachelor,2011-01-20,Employed,M,...,Personal Auto,Personal L3,Offer1,Branch,780.990942,NaN,NaN,M,January,January
691,691,ID89933,Oregon,7255.577594,No,Extended,Doctor,2011-01-09,Employed,F,...,Personal Auto,Personal L2,Offer1,Web,365.835977,NaN,NaN,M,January,January
716,716,ZZ49347,Oregon,2592.437797,Yes,Basic,High School or Below,2011-01-02,Employed,M,...,Personal Auto,Personal L3,Offer2,Call Center,312.000000,NaN,NaN,A,January,January
718,718,KW95891,Oregon,2635.148447,No,Basic,High School or Below,2011-01-28,Employed,F,...,Personal Auto,Personal L3,Offer4,Branch,312.000000,NaN,NaN,M,January,January
744,744,KH24214,NaN,17857.972330,NaN,Basic,College,2011-02-13,Employed,M,...,Personal Auto,Personal L3,Offer3,Agent,445.287788,NaN,NaN,M,February,February
756,756,VX85673,Arizona,4250.282624,Yes,Basic,High School or Below,2011-01-18,Unemployed,F,...,Personal Auto,Personal L3,Offer1,Agent,292.800000,NaN,NaN,M,January,January
761,761,XH47320,Nevada,2937.424534,No,Basic,Master,2011-01-10,Employed,F,...,Personal Auto,Personal L1,Offer1,Call Center,332.693627,NaN,NaN,A,January,January
786,786,HF11584,Arizona,12913.498180,No,Basic,Master,2011-01-11,Employed,M,...,Personal Auto,Personal L3,Offer1,Branch,513.600000,NaN,NaN,M,January,January
856,856,CF62992,Oregon,2471.077732,No,Basic,High School or Below,2011-01-16,Employed,F,...,Personal Auto,Personal L2,Offer1,Agent,268.773368,NaN,NaN,M,January,January
888,888,ED28429,Washington,4159.593921,No,Basic,Bachelor,2011-02-01,Unemployed,M,...,Personal Auto,Personal L1,Offer1,Agent,446.400000,NaN,NaN,A,February,February
929,929,BB11622,Nevada,10552.169990,No,Extended,Master,2011-01-02,Employed,M,...,Personal Auto,Personal L3,Offer1,Agent,232.711071,NaN,NaN,M,January,January
933,933,YT91759,California,6366.225775,Yes,Extended,High School or Below,2011-01-07,Employed,M,...,Personal Auto,Personal L2,Offer2,Call Center,384.000000,NaN,NaN,M,January,January
950,950,ID89933,Oregon,7255.577594,No,Extended,Doctor,2011-01-09,Employed,F,...,Personal Auto,Personal L2,Offer1,Web,365.835977,NaN,NaN,A,January,January
972,972,MG46007,California,6358.251692,No,Extended,High School or Below,2011-01-24,Unemployed,M,...,Personal Auto,Personal L2,Offer1,Agent,17.938979,NaN,NaN,A,January,January
979,979,BA52133,California,5344.989624,No,Basic,Master,2011-02-11,Employed,M,...,Personal Auto,Personal L2,Offer3,Call Center,387.774781,NaN,NaN,M,February,February
982,982,TK61994,Oregon,6104.501453,No,Extended,College,2011-02-28,Disabled,F,...,Personal Auto,Personal L2,Offer1,Agent,18.192921,NaN,NaN,A,February,February
993,993,MQ68407,Oregon,4376.363592,Yes,Premium,Bachelor,2011-02-28,Employed,F,...,Personal Auto,Personal L3,Offer2,Agent,60.036683,NaN,NaN,A,February,February
1024,1024,VE72838,Arizona,13770.976180,Yes,Premium,High School or Below,2011-02-01,Employed,F,...,Personal Auto,Personal L3,Offer1,Agent,556.800000,NaN,NaN,A,February,February
1046,1046,LD75023,Oregon,26346.085820,No,Extended,High School or Below,2011-01-20,Employed,M,...,Personal Auto,Personal L2,Offer1,Web,1605.600000,NaN,NaN,A,January,January
1065,1065,BU72633,Nevada,42561.631830,No,Basic,Master,2011-01-10,Employed,M,...,Personal Auto,Personal L2,Offer1,Agent,571.200000,NaN,NaN,M,January,January
1075,1075,ES57969,Oregon,2453.570794,Yes,Basic,Bachelor,2011-02-09,Medical Leave,M,...,Personal Auto,Personal L2,Offer1,Agent,331.200000,NaN,NaN,A,February,February
1078,1078,YI73667,Nevada,5340.810309,No,Basic,College,2011-01-17,Unemployed,F,...,Personal Auto,Personal L3,Offer2,Web,345.600000,NaN,NaN,A,January,January
1109,1109,CE72177,California,5461.548993,No,Basic,High School or Below,2011-01-07,Employed,F,...,Personal Auto,Personal L3,Offer2,Agent,485.705851,NaN,NaN,A,January,January
1127,1127,ZW19492,Oregon,2404.917967,No,Basic,Bachelor,2011-02-14,Employed,M,...,Personal Auto,Personal L3,Offer1,Branch,287.654819,NaN,NaN,A,February,February
1130,1130,XW96958,Nevada,7573.345057,No,Premium,High School or Below,2011-02-20,Unemployed,M,...,Corporate Auto,Corporate L3,Offer1,Agent,1193.036154,NaN,NaN,A,February,February

In [52]:
data.shape

(10910, 28)

In [54]:
data = data.drop_duplicates() #No duplicates
data.shape

(10910, 28)

In [55]:
data = data.drop(columns="month") #I added two columns for the months and this is removing the incorrect one
data.shape

(10910, 27)

In [56]:
#data['State'].value_counts(dropna=False)
data['State'] = data['State'].fillna("California")
data ['State'].value_counts(dropna=False)

California    4183
Oregon        2909
Arizona       1937
Nevada         993
Washington     888
Name: State, dtype: int64

In [58]:
data = data.drop(columns="Unnamed: 0")
data

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type,Month
0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,48029,...,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,M,February
1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,0,...,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,M,January
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,22139,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,February
3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,49078,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,January
4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,23675,...,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,M,January
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,2011-01-19,Unemployed,F,0,...,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A,January
10906,KX53892,Oregon,5259.444853,No,Basic,College,2011-01-06,Employed,F,61146,...,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A,January
10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2011-02-06,Employed,F,39837,...,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,M,February
10908,WA60547,California,11971.977650,No,Premium,College,2011-02-13,Employed,F,64195,...,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A,February
10909,IV32877,California,6857.519928,NaN,Basic,Bachelor,2011-01-08,Unemployed,M,0,...,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,M,January

In [59]:
data ['Month'].value_counts(dropna=False) #It only has January and February

January     5818
February    5092
Name: Month, dtype: int64

In [61]:
data.isna().sum()

Customer                           0
State                              0
Customer Lifetime Value            0
Response                         631
Coverage                           0
Education                          0
Effective To Date                  0
EmploymentStatus                   0
Gender                             0
Income                             0
Location Code                      0
Marital Status                     0
Monthly Premium Auto               0
Months Since Last Claim          633
Months Since Policy Inception      0
Number of Open Complaints        633
Number of Policies                 0
Policy Type                        0
Policy                             0
Renew Offer Type                   0
Sales Channel                      0
Total Claim Amount                 0
Vehicle Class                    622
Vehicle Size                     622
Vehicle Type                       0
Month                              0
dtype: int64

In [62]:
data ['Response'].value_counts(dropna=False) #Response could be individuals who could have never made a claim

No     8813
Yes    1466
NaN     631
Name: Response, dtype: int64

In [63]:
data ['Months Since Last Claim'].value_counts(dropna=False) #NaN could be individuals who could have never made a claim

NaN     633
3.0     426
6.0     394
1.0     386
7.0     378
4.0     373
2.0     368
5.0     355
0.0     354
10.0    346
16.0    333
11.0    331
15.0    323
13.0    320
8.0     315
12.0    307
17.0    299
14.0    299
9.0     277
19.0    276
23.0    276
25.0    269
21.0    267
18.0    257
20.0    254
22.0    246
24.0    237
29.0    234
28.0    227
31.0    221
26.0    211
27.0    208
30.0    201
34.0    199
33.0    198
35.0    157
32.0    155
Name: Months Since Last Claim, dtype: int64